<mat-sidenav-container class="example-container-app" (backdropClick)="sidenav.close()">

  <mat-sidenav #sidenav (keydown.escape)="close()" disableClose>
    <div class="header-drawer-content">
      <app-side-navbar [sideNav]="sidenav"></app-side-navbar>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="outlet">
    <ng-container *ngIf="!isLoginPageRoute()">
      <app-toolbar (toggle)="sidenav.open()"></app-toolbar>
    </ng-container>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


<!-- <router-outlet></router-outlet> -->